

<!-- Contact widget -->
<div class="case-studies"> 
  <div class="row contact-widget">
    <div class="col-12 col-lg-4 section-heading">
      <h1 class="title">Contact</h1>
      <h2 class="subtitle">Get in touch</h2>
      subtitle<p>hello</p>
    </div>
    <div class="col-12 col-lg-8">
      page content
  
      {{ $post_action := "" }}
  
      <div class="mb-3">
        <form name="contact" method="POST" {{ $post_action | safeHTMLAttr }}>
          <div class="form-group form-inline">
            <label class="sr-only" for="inputName">{{ i18n "contact_name" }}</label>
            <input type="text" name="name" class="form-control w-100" id="inputName" placeholder="{{ i18n "contact_name" | default "Name" }}" required>
          </div>
          <div class="form-group form-inline">
            <label class="sr-only" for="inputEmail">{{ i18n "contact_email" }}</label>
            <input type="email" name="email" class="form-control w-100" id="inputEmail" placeholder="{{ i18n "contact_email" | default "Email" }}" required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputMessage">{{ i18n "contact_message" }}</label>
            <textarea name="message" class="form-control" id="inputMessage" rows="5" placeholder="{{ i18n "contact_message" | default "Message" }}" required></textarea>
          </div>
          <button type="submit" class="btn btn-outline-primary px-3 py-2">{{ i18n "contact_send" | default "Send" }}</button>
        </form>
      </div>
</div>



    