<!-- Contact section -->
<section data-scroll-index="2">
    <div class="section-template">
        <div class="row contact-widget">
            <div class="col-12 col-lg-4 section-heading">
                <h1 class="title">Get in touch</h1>
                {{ partial "contact-info.html" . }}
            </div>
          
            <div class="col-12 col-lg-8">  
              <div class="row">
                <div class="col-12 col-md-8 col-lg-12">
                    <form id="contact-form" name="contact" method="POST" netlify>
                        <div class="row">
                          <div class="col-12 col-sm-6">
                            <div class="form-group form-inline">
                                <label class="sr-only" for="inputName">Name</label>
                                <input type="text" name="name" class="form-control w-100" id="inputName" placeholder="Name" required>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6">
                            <div class="form-group form-inline">
                                <label class="sr-only" for="inputEmail">Email</label>
                                <input type="email" name="email" class="form-control w-100" id="inputEmail" placeholder="Email" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="inputMessage">Message</label>
                          <textarea name="message" class="form-control" id="inputMessage" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <input type="submit" value="Send Message">
                    </form>
                </div>
                <div class="col-12 col-md-4">
                  {{ partial "contact-info.html" . }} 
                </div>
              </div>
            </div>
        </div>  
    </div>
</section>




    