<!------------------------------------
  --  VARIABLES  ---------------------
  --- idx: index
  --- exp_len: experience length
  ---
  --  NOTES  -------------------------
  --- Pass idx = -1 and exp_len = 1
  --- if you want no timeline.
  --- If only one item exists, no
  --- timeline will be created
  ------------------------------------>

<div class="col-auto text-center flex-column d-none d-sm-flex">
    <div class="row h-50">
    <div class="col {{if gt .idx 0}}border-right{{end}}">&nbsp;</div>
    <div class="col">&nbsp;</div>
    </div>
    {{ if gt .exp_len 1 }}
    <div class="m-2">
        <span class="badge badge-pill border {{if eq .idx 0}}exp-fill{{end}}">&nbsp;</span>
    </div>
    {{ end }}
    <div class="row h-50">
        <div class="col {{if lt .idx (sub .exp_len 1)}}border-right{{end}}">&nbsp;</div>
        <div class="col">&nbsp;</div>
    </div>
</div>