<!-- Experience widget -->
<section data-scroll-index="1">
    <div class="section-template">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1 class="title">CV</h1>
                <h2 class="subtitle">Education</h2>
            </div>
            <div class="col-12 col-lg-8">
                    <div class="row experience">
                    <!-- Timeline -->
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                        <div class="col">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border exp-fill">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="col py-2">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title exp-title text-muted mt-0 mb-1">title test</h4>
                            <h4 class="card-title exp-company text-muted my-0">
                            test company url<a target="_blank" rel="noopener"></a>
                            </h4>
                            <div class="text-muted exp-meta">
                                Test text
                                <span class="middot-divider"></span>
                                <span></span>
                            </div>
                            <div class="card-text">test description</div>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>