{{ $cv := .Site.GetPage "cv.md" }}

<!-- Experience widget -->
<section data-scroll-index="1">
    <div class="section-template cv-widget">
        <h1 class="title mb-4">CV</h1>
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h2 class="subtitle mt-1">Education</h2>
            </div>
            <div class="col-12 col-lg-8">
                {{ $exp_len := len $cv.Params.education }}
                {{ range $idx, $key := $cv.Params.education }}
                <div class="row experience">
                    <!-- Timeline -->
                    {{ partial "cv-timeline.html" (dict "idx" $idx "exp_len" $exp_len) }}
                    <!-- Content -->
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mt-0 mb-1">{{ .university }}</h4>
                                <h4 class="card-subtitle mb-1">
                                    {{ with .school }}
                                    {{ . }}
                                    {{ else }}
                                    {{ .degree }}
                                    {{ end }}
                                </h4>
                                <div class="info">
                                    {{ if .school }}
                                    {{ .degree }}
                                    <span class="middot-divider"></span>
                                    <br class="br-divider" />
                                    {{ end }}
                                    {{ .date }}
                                    <br />
                                    {{ .details }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h2 class="subtitle mt-1">Research Interests</h2>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row experience">
                    <!-- Timeline -->
                    {{ partial "cv-timeline.html" (dict "idx" -1 "exp_len" 0) }}
                    <!-- Content -->
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body info">
                                <ul>
                                    {{ range $idx, $key := $cv.Params.research_interests }}
                                    <li>{{ . }}</li>
                                    {{end}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h2 class="subtitle mt-1">Teaching Interests</h2>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row experience">
                    <!-- Timeline -->
                    {{ partial "cv-timeline.html" (dict "idx" -1 "exp_len" 0) }}
                    <!-- Content -->
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body info">
                                <ul>
                                    {{ range $idx, $key := $cv.Params.teaching_interests }}
                                    <li>{{ . }}</li>
                                    {{end}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h2 class="subtitle mt-1">Research Experience</h2>
            </div>
            <div class="col-12 col-lg-8">
                {{ $exp_len := len $cv.Params.research_experience }}
                {{ range $idx, $key := $cv.Params.research_experience }}
                <div class="row experience">
                    <!-- Timeline -->
                    {{ partial "cv-timeline.html" (dict "idx" $idx "exp_len" $exp_len) }}
                    <!-- Content -->
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mt-0 mb-1">{{ .name }}</h4>
                                <h4 class="card-subtitle mb-1">
                                    {{ .contact }}
                                </h4>
                                <div class="info">
                                    {{ .position }}
                                    <span class="middot-divider"></span>
                                    <br class="br-divider" />
                                    {{ .date }}
                                    <br />
                                    <ul class="details">
                                        <li>{{ .details }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h2 class="subtitle mt-1 mb-1">Publications</h2>
                <h3><span class="badge badge-secondary">PEER REVIEWED</span></h3>
            </div>
            <div class="col-12 col-lg-8">
                {{ $exp_len := len $cv.Params.pubs }}
                {{ range $idx, $key := $cv.Params.pubs }}
                <div class="row experience">
                    <!-- Timeline -->
                    {{ partial "cv-timeline.html" (dict "idx" $idx "exp_len" $exp_len) }}
                    <!-- Content -->
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="info">
                                    {{ . | markdownify }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h3><span class="badge badge-secondary">ARTISTIC</span></h3>
            </div>
            <div class="col-12 col-lg-8">
                {{ $exp_len := len $cv.Params.art_pubs }}
                {{ range $idx, $key := $cv.Params.art_pubs }}
                <div class="row experience">
                    <!-- Timeline -->
                    {{ partial "cv-timeline.html" (dict "idx" $idx "exp_len" $exp_len) }}
                    <!-- Content -->
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="info">
                                    {{ . | markdownify }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h2 class="subtitle mt-1">Research Experience</h2>
            </div>
            <div class="col-12 col-lg-8">
                {{ $exp_len := len $cv.Params.grants }}
                {{ range $idx, $key := $cv.Params.grants }}
                <div class="row experience">
                    <!-- Timeline -->
                    {{ partial "cv-timeline.html" (dict "idx" $idx "exp_len" $exp_len) }}
                    <!-- Content -->
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mt-0 mb-1">{{ .name }}</h4>
                                <h4 class="card-subtitle mb-1">
                                    {{ .details }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>