<a class="anchor" id="hero-anchor"></a>
<section style="padding-top: 120px;" id="scroll-element" data-scroll-index="0">
    <div class="hero">
        <div class="hero-left">
            <img src="{{ .Params.about.avatar }}" style="max-width: 50%; border-radius: 50%; ">
            <h2 class="subtitle">{{ .Params.about.blurb }}</h2>
            <div class="icons">
                {{ if isset .Params.contact "email" }}
                <a href="mailto:{{ .Params.contact.email }}">
                    <svg width="20px" height="16.4706px" viewBox="0 0 16 14" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>{{ .Params.contact.email }}</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-94.000000, -336.000000)" id="Group" fill="#505050">
                                <g transform="translate(94.000000, 335.000000)">
                                    <g id="ui-16px-1_email-84" transform="translate(0.000000, 1.000000)">
                                        <path
                                            d="M15,0 L1,0 C0.448,0 0,0.447 0,1 L0,13 C0,13.553 0.448,14 1,14 L15,14 C15.552,14 16,13.553 16,13 L16,1 C16,0.447 15.552,0 15,0 Z M14,12 L2,12 L2,5.723 L7.504,8.868 C7.812,9.044 8.189,9.044 8.496,8.868 L14,5.723 L14,12 Z M14,3.42 L8,6.849 L2,3.42 L2,2 L14,2 L14,3.42 Z"
                                            id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
                {{ end }}

                {{ if isset .Params.social "du_portfolio" }}
                <a href="{{ .Params.social.du_portfolio }}" target="blank" title="DU Portfolio"><i class="fa fa-graduation-cap"></i></a>
                {{ end }}

                {{ if isset .Params.social "twitter" }} 
                <a href="{{ .Params.social.twitter }}" target="blank">
                    <svg width="20px" height="16.4706px" viewBox="0 0 16 14" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>Twitter</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-169.000000, -336.000000)" id="Group" fill="#505050">
                                <g transform="translate(94.000000, 335.000000)">
                                    <g id="social-16px_logo-twitter" transform="translate(75.000000, 1.000000)">
                                        <path
                                            d="M16,2 C15.4,2.3 14.8,2.4 14.1,2.5 C14.8,2.1 15.3,1.5 15.5,0.7 C14.9,1.1 14.2,1.3 13.4,1.5 C12.8,0.9 11.9,0.5 11,0.5 C9.3,0.5 7.8,2 7.8,3.8 C7.8,4.1 7.8,4.3 7.9,4.5 C5.2,4.4 2.7,3.1 1.1,1.1 C0.8,1.6 0.7,2.1 0.7,2.8 C0.7,3.9 1.3,4.9 2.2,5.5 C1.7,5.5 1.2,5.3 0.7,5.1 L0.7,5.1 C0.7,6.7 1.8,8 3.3,8.3 C3,8.4 2.7,8.4 2.4,8.4 C2.2,8.4 2,8.4 1.8,8.3 C2.2,9.6 3.4,10.6 4.9,10.6 C3.8,11.5 2.4,12 0.8,12 L0,12 C1.5,12.9 3.2,13.5 5,13.5 C11,13.5 14.3,8.5 14.3,4.2 L14.3,3.8 C15,3.3 15.6,2.7 16,2 Z"
                                            id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
                {{ end }}

                {{ if isset .Params.social "linkedin" }}
                <a href="{{ .Params.social.linkedin }}" target="blank">
                    <svg width="20px" height="18.8235px" viewBox="0 0 17 16" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>LinkedIn</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-243.000000, -335.000000)" id="Group" fill="#505050">
                                <g transform="translate(94.000000, 335.000000)">
                                    <g id="social-16px_logo-linkedin" transform="translate(149.000000, 0.000000)">
                                        <path
                                            d="M15.3,0 L0.7,0 C0.3,0 0,0.3 0,0.7 L0,15.4 C0,15.7 0.3,16 0.7,16 L15.4,16 C15.8,16 16.1,15.7 16.1,15.3 L16.1,0.7 C16,0.3 15.7,0 15.3,0 Z M4.7,13.6 L2.4,13.6 L2.4,6 L4.8,6 L4.8,13.6 L4.7,13.6 Z M3.6,5 C2.8,5 2.2,4.3 2.2,3.6 C2.2,2.8 2.8,2.2 3.6,2.2 C4.4,2.2 5,2.8 5,3.6 C4.9,4.3 4.3,5 3.6,5 Z M13.6,13.6 L11.2,13.6 L11.2,9.9 C11.2,9 11.2,7.9 10,7.9 C8.8,7.9 8.6,8.9 8.6,9.9 L8.6,13.7 L6.2,13.7 L6.2,6 L8.5,6 L8.5,7 L8.5,7 C8.8,6.4 9.6,5.8 10.7,5.8 C13.1,5.8 13.5,7.4 13.5,9.4 L13.5,13.6 L13.6,13.6 Z"
                                            id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
                {{ end }}

                {{ if isset .Params.social "wordpress" }}
                <a id="wordpress" href="{{ .Params.social.wordpress }}" title="Wordpress">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19px" height="19px"
                        viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <path d="M0,16c0,6.3,3.7,11.8,9,14.4L1.4,9.5C0.5,11.5,0,13.7,0,16z" />
                        <path d="M26.8,15.2c0-2-0.7-3.3-1.3-4.4c-0.8-1.3-1.6-2.4-1.6-3.8c0-1.5,1.1-2.8,2.7-2.8c0.1,0,0.1,0,0.2,0
                       C24,1.6,20.2,0,16,0C10.4,0,5.5,2.9,2.6,7.2c0.4,0,0.7,0,1,0C5.3,7.2,7.9,7,7.9,7C8.8,7,8.9,8.2,8,8.3c0,0-0.9,0.1-1.8,0.2L12,25.8
                       l3.5-10.5L13,8.5c-0.9-0.1-1.7-0.2-1.7-0.2C10.5,8.3,10.6,7,11.5,7c0,0,2.6,0.2,4.2,0.2c1.7,0,4.3-0.2,4.3-0.2
                       c0.9-0.1,1,1.2,0.1,1.3c0,0-0.9,0.1-1.8,0.2L24,25.7l1.6-5.3C26.3,18.2,26.8,16.6,26.8,15.2z" />
                        <path
                            d="M16.3,17.4l-4.8,13.9c1.4,0.4,2.9,0.7,4.5,0.7c1.9,0,3.7-0.3,5.3-0.9c0-0.1-0.1-0.1-0.1-0.2L16.3,17.4z" />
                        <path d="M30,8.3c0.1,0.5,0.1,1.1,0.1,1.6c0,1.6-0.3,3.4-1.2,5.7L24,29.8c4.8-2.8,8-7.9,8-13.8
                       C32,13.2,31.3,10.6,30,8.3z" />
                    </svg>
                </a>
                {{ end }}

            </div>
            <a href="{{ .Params.cv }}" target="blank" class="download-resume"
                onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'download'});">
                <!-- <img style="position: relative;top: 1.8px;padding-right: 6px;" src="svg/dl-resume.svg"> -->
                Download CV</a>
        </div>
        <div class="hero-right">
            {{ .Params.about.about | markdownify }}
        </div>
    </div>
</section>