<section data-scroll-index="2">
    <div class="section-template">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1 class="title mt-1">Work</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="work-toolbar btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">All</button>
                    <button type="button" class="btn btn-secondary">Papers</button>
                    <button type="button" class="btn btn-secondary">Projects</button>
                </div>
                <div class="work-item">
                    <h3 class="work-item-title mt-0"><a href="/post/writing-technical-content/">This is an example title</a></h3>
                    <div class="work-item-description">Do you see any Teletubbies in here? Do you see a slender plastic tag
                        clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank
                        expression on his face sitting outside on a mechanical helicopter that shakes when you put
                        quarters …</div>
                    <div class="work-item-date">
                        Jul 23, 2019
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>