<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="work-item-single">
        {{ if .Site.Params.nav.enable }}
        {{ partial "nav.html" . }}
        {{ end }}

        <section class="work-item-section">
            <div class="work-container">
                <h1 class="title">{{ .Title }}</h1>
                <div class="work-item-date">
                    {{ .Params.item_date }}
                </div>
                <div class="work-item-body">
                    {{ .Content }}
                </div>

                {{ partial "gallery.html" . }}
            </div>
        </section>

        {{ if .Site.Params.footer.enable }}
        {{ with .Site.GetPage "_index.md" }}
        {{ partial "footer.html" . }}
        {{ end }}
        {{ end }}
    </div>

    {{ partial "scripts.html" . }}

</body>

</html>