<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}

        {{ $stylesheet := .Site.Data.webpack.main }}
        {{ with $stylesheet.css }}
          <link href="{{ relURL . }}" rel="stylesheet">
        {{ end }}

        <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <div>
            {{ if .Site.Params.nav.enable }}
            {{ partial "nav.html" . }}
            {{ end }}

            {{ if .Site.Params.hero.enable }}
            {{ partial "hero.html" . }}
            {{ end }}

            {{ partial "cv.html" . }}

            {{ if .Site.Params.contact.enable }}
            {{ partial "contact.html" . }}
            {{ end }}

            {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "scripts.html" . }}

        {{ $script := .Site.Data.webpack.main }}
        {{ with $script.js }}
          <script src="{{ relURL . }}"></script>
        {{ end }}

        <!-- TO DO:  move into separate file once it's confirmed that this works -->
        <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
          }
        </script>

    </body>
</html>