<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}

        {{ $stylesheet := .Site.Data.webpack.main }}
        {{ with $stylesheet.css }}
          <link href="{{ relURL . }}" rel="stylesheet">
        {{ end }}
    </head>
    <body>
        <div>
            {{ if .Site.Params.nav.enable }}
            {{ partial "nav.html" . }}
            {{ end }}

            {{ if .Site.Params.hero.enable }}
            {{ partial "hero.html" . }}
            {{ end }}

            {{ if .Site.Params.process.enable }}
            {{ partial "process.html" . }}
            {{ end }}

            {{ if .Site.Params.case_studies.enable }}
            {{ partial "case_studies.html" . }}
            {{ end }}

            {{ if .Site.Params.contact.enable }}
            {{ partial "contact.html" . }}
            {{ end }}

            {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
            {{ end }}
        </div>

        <!-- TO DO: Ideally load this through npm/webpack, but that's currently not working -->
        <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> -->
        
        <!-- <link rel="stylesheet" type="text/css" href="../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"> -->
        {{ partial "scripts.html" . }}

        {{ $script := .Site.Data.webpack.main }}
        {{ with $script.js }}
          <script src="{{ relURL . }}"></script>
        {{ end }}

    </body>
</html>