/*-----------------------------------------------+
 | Filename: app.scss                            |
 | Desc:     SCSS Entrypoint                     |
 +-----------------------------------------------*/

/* Vendor Styles */
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import '../../node_modules/font-awesome/scss/font-awesome.scss';


/* Custom Styles */
/* Colors */
$color-accent: #751275; 
$color-accent-highlight: #ebe6eb;
$color-text: #575757;
$color-icons: #353535;
$color-background: #fcfcfc;
$color-border: #ebebeb;
$color-input-bg: #f3f3f3;
$color-text-muted: #808080;
$color-text-extra-muted: #919191;

$color-accent-hover: rgb(161, 63, 168);

/* Sizes */
$navbar-height: 68px;

/* Imports */
@import "cv.scss";
@import "main.scss";
@import "mobile-nav-menu.scss";
@import "work.scss";