.grid {
    position: relative;
    margin-bottom: 1rem;
}

.grid-sizer {
    padding: 0.3rem;
}

.grid-sizer,
.grid-item {
    width: 49.3%;
}

.grid-item {
    float: center;
    border-radius: 0.25rem;
    padding: 0.4rem;
  }

.grid-item img {
    display: block;
    max-width: 100%;
}

.gallery {
    img {
      border-radius: 0.25rem;
    }

    .grid-item {
      &-desc {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0.4rem;
        border-radius: 0.25rem;
        font-family: Roboto;
        font-weight: 700;
        cursor: pointer;
      }   
    }
}

/* Bootstrap size xs */
@media all and (max-width: 575.98px) {
    .grid-sizer,
    .grid-item {
        width: 100%
    }
}

// Gallery Modal
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
}

.modal-item {
  position: relative;
}

.modal-image {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  max-height: 625px;
}

.modal-icon {
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  cursor: pointer;
}