// Contents
//
// Navbar
// Navbar nav
// Navbar text
// Responsive navbar
// Navbar position


// Bootstrap Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  %container-flex-properties {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-menu {
    position: static;
  }
}

nav li {
    position: relative;
    display: block;
}

.navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    position: relative;
    display: block;
    letter-spacing: 1px;
}


// Navbar text
//
//
.navbar-text {
  display: inline-block;
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  line-height: 1;
  background-color: transparent; // remove default button style
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-custom {
    width: 100%;
    background-color: $color-background;
    border-bottom: 1px solid $color-border;
}

nav #mobile-nav-menu {
    background-color: $color-background;
    padding: 0;
    position: relative;
    top: -2px;
}

ul.nav.navbar-nav.navbar-right {
    padding: 15px;
}

ul.nav.navbar-nav.navbar-right li a {
    text-align: center;
    color: $color-text;
}

ul.nav.navbar-nav.navbar-right li a:hover {
    text-decoration: none;
    color: $color-accent;
}

#main-navbar {
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
}
