/* Home Page Work Section */
.work-item-mb {
    margin-bottom: 2rem;
}

/* Bootstrap button group toolbar */
.work-toolbar {
    margin-bottom: 1.6rem;
}

.work-toolbar .btn-secondary {
    background: $color-accent-hover;
    border-color: $color-accent-hover;
    padding: 0.3rem 0.7rem;
}

.work-toolbar .btn-secondary:hover {
    background: $color-accent-btn-hover;
    border-color: $color-accent-btn-hover;
}
.work-toolbar .btn-secondary.btn-active {
    background: $color-accent;
    border-color: $color-accent;
}
.work-toolbar .btn-secondary:focus:not(.btn-active) {
    background: $color-accent !important;
    border-color: $color-accent !important;
    box-shadow: 0 0 0 0.2rem rgba(183, 84, 190, 0.5);
}

.work-toolbar .btn-secondary:focus {
    background: $color-accent !important;
    border-color: $color-accent !important;
    box-shadow: 0 0 0 0.2rem rgba(183, 84, 190, 0.5);
}

/* Item details */
.work-item-title a {
    color: black;
    font-family: Roboto;
    font-weight: bold;
}

.work-item-title a:hover {
    color: $color-accent-hover;
    text-decoration: none;
}

.work-item-body {
    padding-bottom: 50px;
}

.work-item-description, .work-item-body {
    line-height: 1.8em;
    color: $color-text;
}

.work-item-date {
    margin-top: 14px;
    font-size: 13px;
    color: $color-text-extra-muted;
}

.work-item img {
  max-width: 150px;
  padding-top: 7px;
}

/* Work Item Single Page */
.work-item-single {
    border-bottom: 1px solid #ebebeb;
}

.work-container {
    max-width: 760px;
    padding: 0 20px;
    margin: 0 auto;
}

.work-container h1.title {
    margin-bottom: 0.9rem;
    margin-top: 1rem;
    line-height: 1.2;
}

.work-container .work-item-date {
    font-size: 14px;
    margin-bottom: 1.5rem;
}

/* Bootstrap size medium */
@media all and (max-width: 991.98px) {
    /* Home Page Work Section */
    .work-widget h1 {
        margin-bottom: 1.6rem;
    }

    h3.work-item-title {
        font-size: 1.65rem;
    }

    /* Work Item Single Page */
    .work-container {
        padding: 0;
    }
}

/* Bootstrap size xs */
@media all and (max-width: 575.98px) {
  .work-item img {
    max-width: 110px;
  }
}