.work-item-mb {
    margin-bottom: 2rem;
}

/* bootstrap button group toolbar */
.work-toolbar {
    margin-bottom: 1.6rem;
}

.work-toolbar .btn-secondary {
    background: $color-accent-hover;
    border-color: $color-accent-hover;
    padding: 0.3rem 0.7rem;
}

.work-toolbar .btn-secondary:hover {
    background: $color-accent-btn-hover;
    border-color: $color-accent-btn-hover;
}
.work-toolbar .btn-secondary.btn-active {
    background: $color-accent;
    border-color: $color-accent;
}
.work-toolbar .btn-secondary:focus:not(.btn-active) {
    background: $color-accent !important;
    border-color: $color-accent !important;
    box-shadow: 0 0 0 0.2rem rgba(183, 84, 190, 0.5);
}

.work-toolbar .btn-secondary:focus {
    background: $color-accent !important;
    border-color: $color-accent !important;
    box-shadow: 0 0 0 0.2rem rgba(183, 84, 190, 0.5);
}

/* item details */
.work-item-title a {
    color: black;
    font-family: Roboto;
    font-weight: bold;
}

.work-item-title a:hover {
    color: $color-accent-hover;
    text-decoration: none;
}

.work-item-description, .work-item-body {
    line-height: 1.8em;
    color: $color-text;
}

.work-item-date {
    margin-top: 14px;
    font-size: 13px;
    color: $color-text-extra-muted;
}

/* Work Item Single Page */
.work-item-single {
    border-bottom: 1px solid #ebebeb;
}

.work-item-section {

}

.work-container {
    max-width: 760px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Boostrap size medium */
@media all and (max-width: 991.98px) {
    .work-widget h1 {
        margin-bottom: 1.6rem;
    }

    .work-toolbar {
        margin-bottom: 1rem;
    }

    h3.work-item-title {
        font-size: 1.65rem;
    }
}